<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="rWzt8xsTRG" />
    <meta name="msvalidate.01" content="2C0F754A7CE515C331A67F8F45DCB428" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
    <footer style="text-align: center; background-color: #f2f2f2; bottom:0px; width: 100%;">
      processing...
      <span class="fa-stack fa-lg">
        <a class="fa fa-twitter fa-stack-1x" href="https://twitter.com/wangyukun55555" style="text-decoration:none"></a>
      </span>
    
      <span class="fa-stack fa-lg">
        <a class="fa fa-github fa-stack-1x" href="https://github.com/YooKing" style="text-decoration:none"></a>
      </span>
    
      <span class="fa-stack fa-lg">
        <a class="fa fa-feed fa-stack-1x" href="https://yooking.github.io/feed.xml" style="text-decoration:none"></a>
      </span>

      <span class="fa-stack fa-lg">
        <a class="fa fa-instagram fa-stack-1x" href="https://www.instagram.com/yookingwong/" style="text-decoration:none"></a>
      </span>
    </footer>
  </body>
</html>
